#!/bin/bash
set -e

cd ${ADT_ARTIFACTS}
# List installed packages, removing the ':{arch}' suffix
dpkg-query -f '${binary:Package}\n' -W | sed -e 's/:.*$//' > installed.packages
# Get the defined binary packages
grep-aptavail -X -n -S -sPackage {{ source_package }} | sort | uniq > binary.packages
# Get the binary packages already installed
comm  -1 -2 binary.packages installed.packages > needs_install.packages
