BRANCH=&quot;lp:ubuntu-test-cases/touch&quot;
BZRDIR=`echo &quot;$BRANCH&quot; | awk -F/ &apos;{ print $(NF) }&apos;`
bzr branch ${BRANCH} ${BZRDIR}

export ANDROID_SERIAL=$(${BZRDIR}/scripts/get-adb-id {{name}})
