{% extends "touch-base.xml.jinja2" %}
<?xml version='1.0' encoding='UTF-8'?>
{% block triggers %}
  <triggers class="vector"/>
{% endblock %}
{% block timeout %}
  <timeoutMinutes>30</timeoutMinutes>
{% endblock timeout %}

{% block shellcmds %}
      <command>set -e
rm -rf *

{% include "touch-setup.xml.jinja2" %}

{% if system_image %}
export TOUCH_IMAGE=--ubuntu-bootstrap
{% endif %}
#### DISABLED FOR TESTING
#Wait for images to actually show up on cdimage
#sleep 300
${BZRDIR}/scripts/provision.sh

${BZRDIR}/scripts/run-touch-utah-runlist.sh -s $ANDROID_SERIAL -r lp:~cjohnston/ubuntu-test-cases/convergence/tests/touch-smoke-boot.run
      </command>
{% endblock %}

{% block artifacts %}
      <artifacts>clientlogs/*</artifacts>
{% endblock %}
{% block descriptionsetter %}
    <hudson.plugins.descriptionsetter.DescriptionSetterPublisher>
      <regexp>Download directory set to /home/ubuntu/Downloads/phablet-flash/ubuntu-touch/([0-9]+.*)</regexp>
      <regexpForFailed>Download directory set to /home/ubuntu/Downloads/phablet-flash/ubuntu-touch/([0-9]+.*)</regexpForFailed>
      <setForMatrix>false</setForMatrix>
    </hudson.plugins.descriptionsetter.DescriptionSetterPublisher>
{% endblock %}
