BRANCH=&quot;{{branch}}&quot;
BZRDIR=`echo &quot;$BRANCH&quot; | awk -F/ &apos;{ print $(NF) }&apos;`
BZRDIR=$(readlink -f $BZRDIR)
bzr branch ${BRANCH} ${BZRDIR}

device_free() {
  if [ -f .device.$$ ] ; then
    ${BZRDIR}/scripts/device free
  fi
}

if [ -z $ANDROID_SERIAL ] ; then
  echo No device lock found. Aquiring...
  ${BZRDIR}/scripts/device get --name {{name}}
  . ./.device.$$  # source in the device serial
  trap "exit -2" TERM INT
  trap device_free EXIT
fi
