{% extends "touch-base.xml.jinja2" %}

{% block triggers %}
  <triggers class="vector"/>
{% endblock %}
{% block timeout %}
  <timeoutMinutes>30</timeoutMinutes>
{% endblock timeout %}

{% block shellcmds %}
      <command>rm -rf *
{% include "touch-setup.xml.jinja2" %}
touch-runlists/jenkins/run-touch-utah-runlist.sh -s $ANDROID_SERIAL -r lp:~canonical-platform-qa/ubuntu-test-runlists/touch-runlists/runlists/touch-smoke-default.run
</command>
{% endblock %}

{% block artifacts %}
      <artifacts>clientlogs/*</artifacts>
{% endblock %}

