{% extends "touch-base.xml.jinja2" %}
<?xml version='1.0' encoding='UTF-8'?>
{% block triggers %}
  <triggers class="vector"/>
{% endblock %}
{% block timeout %}
  <timeoutMinutes>30</timeoutMinutes>
{% endblock timeout %}

{% block shellcmds %}
      <command>set -e
apt-cache policy phablet-tools
rm -rf *
mkdir clientlogs

{% include "touch-setup.xml.jinja2" %}

{% if not system_image %}
IMAGE_OPT=-D
{% endif %}
#Wait for images to actually show up on cdimage
sleep 300
${BZRDIR}/scripts/provision.sh -s $ANDROID_SERIAL $IMAGE_OPT

${BZRDIR}/scripts/jenkins.sh -s $ANDROID_SERIAL -a install-and-boot
      </command>
{% endblock %}

{% block artifacts %}
      <artifacts>clientlogs/*</artifacts>
{% endblock %}
