{% extends "touch-base.xml.jinja2" %}
<?xml version='1.0' encoding='UTF-8'?>
{% block triggers %}
  <triggers class="vector"/>
{% endblock %}
{% block timeout %}
  <timeoutMinutes>30</timeoutMinutes>
{% endblock timeout %}

{% block shellcmds %}
      <command>set -e
rm -rf *

{% include "touch-setup.xml.jinja2" %}

{% if system_image %}
export TOUCH_IMAGE=--ubuntu-bootstrap
{% endif %}
#Wait for images to actually show up on cdimage
sleep 300
${BZRDIR}/scripts/provision.sh

sudo ANDROID_SERIAL=$ANDROID_SERIAL PATH=`pwd`/utils/host:$PATH UTAH_LOGGER=stdout utah -d -r ./tests/install-and-boot/master.run -o `pwd`/clientlogs/utah.yaml
      </command>
{% endblock %}

{% block artifacts %}
      <artifacts>clientlogs/*</artifacts>
{% endblock %}
