{% extends "touch-base.xml.jinja2" %}
<?xml version='1.0' encoding='UTF-8'?>
{% block triggers %}
  <triggers class="vector"/>
{% endblock %}
{% block timeout %}
  <timeoutMinutes>30</timeoutMinutes>
{% endblock timeout %}

{% block shellcmds %}
      <command>rm -rf *
{% include "touch-setup.xml.jinja2" %}

${BZRDIR}/scripts/run-touch-utah-runlist.sh -s $ANDROID_SERIAL -r lp:ubuntu-test-cases/touch/tests/touch-smoke-sdk.run
</command>
{% endblock %}

{% block artifacts %}
      <artifacts>clientlogs/*</artifacts>
{% endblock %}
