{% extends "touch-base.xml.jinja2" %}

{% block shellcmds %}
      <command>set -e
rm -rf *
{% include "touch-setup.xml.jinja2" %}

echo LOCK_FILE=$LOCK_FILE > device-lock
${BZRDIR}/scripts/device free --tokenfile device-lock
      </command>
{% endblock %}

{% block artifactblock %}{% endblock %}
{% block descriptionsetter %}{% endblock %}
{% block buildpublisher %}{% endblock %}
{% block mailer %}{% endblock %}
