{% extends "touch-base.xml.jinja2" %}

{% block timeout %}
  <timeoutMinutes>45</timeoutMinutes>
{% endblock timeout %}

{% block shellcmds %}
      <command>set -e
rm -rf *
{% include "touch-setup.xml.jinja2" %}

export APP=eventstat

${BZRDIR}/scripts/jenkins.sh -s $ANDROID_SERIAL -a $APP -p /tmp/results
      </command>
{% endblock %}

{% block artifacts %}
      <artifacts>clientlogs/*, **/jenkins.sh</artifacts>
{% endblock %}
