{% extends "touch-base.xml.jinja2" %}
<?xml version='1.0' encoding='UTF-8'?>
{% block triggers %}
  <triggers class="vector"/>
{% endblock %}
{% block timeout %}
  <timeoutMinutes>30</timeoutMinutes>
{% endblock timeout %}

{% block shellcmds %}
      <command>set -e
rm -rf *
{% include "touch-setup.xml.jinja2" %}

{% block apptest %}{% endblock %}

${BZRDIR}/scripts/jenkins.sh -s $ANDROID_SERIAL -a $APP
      </command>
{% endblock %}

{% block junitresults %}
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>clientlogs/*.xml</testResults>
      <keepLongStdio>true</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
{% endblock %}

{% block artifacts %}
      <artifacts>clientlogs/*, **/jenkins.sh</artifacts>
{% endblock %}
