# This file is sourced by boottest.sh

# Example Config Follows - These are the current defaults
#
# REVISION=81
# ARCH=krillin
# PHABLET_PASSWORD=0000
# ADT_TIMEOUT=600
# Disable rsync but echo the commands for feedback
# RSYNC="echo rsync"
