#!/bin/bash
set -e

cd ${ADT_ARTIFACTS}
# List installed packages, removing the ':{arch}' suffix
dpkg-query -f '${binary:Package}\n' -W | sed -e 's/:.*$//' > installed.packages
# adt-run complains and fails the test if sdterr is not empty
# redirect stderr to preserve the output for reference
apt-get source {{ source_package }} 2> apt-get-source.stderr
# Get the defined binary packages
grep ^Package: {{ source_package}}*/debian/control | sed -e 's/^Package: //' | sort > binary.packages
# Get the binary packages already installed
comm  -1 -2 binary.packages installed.packages > needs_install.packages
