Source: getpkgsrc
Section: misc
Maintainer: Canonical CI Engineering <canonical-ci-engineering@lists.launchpad.net>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.4

Package: getpkgsrc
Architecture: all
Description: A dep8 test providing a package source from inside the testbed.
