Source: boottest
Section: misc
Maintainer: Canonical CI Engineering <canonical-ci-engineering@lists.launchpad.net>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.4

Package: boottest
Architecture: all
Description: A boottest dep8 test package
 A boottest dep8 test package.
